@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body,
.MuiDrawer-paperAnchorRight {
    background-color: #0F082C !important;
}

.MuiDrawer-paperAnchorRight {
    width: 50% !important;
    align-items: center !important;
}

* p,
.MuiTypography-body1,
.MuiTypography-h6,
.MuiButton-label {
    font-family: 'Poppins', sans-serif !important;
}

.MuiTypography-body1,
.MuiTypography-h6,
.MuiButton-label {
    font-weight: bold !important;
}

.makeStyles-title-3,
.makeStyles-heroTitle-16,
.makeStyles-heroTitle-27,
.makeStyles-title-32 {
    font-family: 'Anton', sans-serif !important;
}